* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 1em;
  border-bottom: 1px solid white;
}

.image {
  border: 1px solid white;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.category {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid white;
  padding: 10px;
  margin-top: 1em;
}

.add-to-cart {
  cursor: pointer;
  border: 1px solid white;
  padding: 10px;
  margin-top: 1em;
}

.stars {
  font-variation-settings: "FILL" 1;
}
